body {
  background : url("hangyul.jpeg")
}

.header {
  font-size: 20px;
  border: Solid 3px pink;
  padding-left: 10px;
  border-radius: 10px;
  width:1000px;
  height:100px;
  color: white;
}

.menu {
  font-size: 20px;
  border: solid 3px pink;
  padding-left: 10px;
  padding-top: 30px;
  height:65px;
  width:1000px;
  border-radius: 10px;

}

.isi{
  width:1000px;
	height:900px;
  font-size: 16px;
  border: solid 3px pink;
  padding-left: 10px;
  border-radius: 10px;
  color :white;
}
